
.body {
    background-color: #1a1a27ff;
}

.navbar {
    color: #1a1a27ff;
}

.navigation-colors {
    color: #7d20ff;
}

.dropdown-hover-item:hover {
    color: #7d20ff;
}


.navbar-nav > li > .dropdown-menu {
    background-color: rgb(36, 36, 48);
}

.cardbutton {
    color: #7d20ff;
}
