
<form method="post">
<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">

        @if (ViewBag.ShoppingCart == null)
        {
           
        }
        else
        {
            <h1 class="navigation-colors">Your Cart</h1>
            
            @foreach (var item in ViewBag.ShoppingCart)
            {
                
                <div class="col justify-content-center">
                    <div class="card h-100 bg-dark border">
                        <div class="card-body bg-dark">
                            <h5 class="card-title navigation-colors">@item.Product.Name</h5>
                            <p class="card-text navigation-colors">@item.Product.Price$</p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text navigation-colors">@item.Quantity</p>
                        </div>
                    </div>
                </div>
            }
        }
       
    </div>

</div>
</form>